<html>
<head>
<style>
div.capitals {color:maroon;margin: 20px 0 20px; padding: 20px;}
#specials {background-color:red;color:white;}
div{background-color: lightgrey;width:300px;border:25px solid green;padding: 25px;margin:25px;}
</style>
	</head>
	</html>